/*
COLOR PALETTE

    BLUE GRAY: #71A6BB
    BABY BLUE: #BEDBE4
    AQUA MARINE: #89BED0
    BLUE GREEN: #10564F

 */

/*
    GLOBAL STYLES
    ---------------------------------------*/

    html {
        box-sizing: border-box;
        font-size: 62.5%; /*setting default to 10px */
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    html, body {
        height: 100%;
    }
    
    body {
        background-color: #BEDBE4;
        margin: 0;
        font-family: "Playpen Sans", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    
    h1, h2, h3 {
        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-style: normal;
        margin: 0;
    }

    h1 {
        font-size: 6rem;
        text-align: center;
        color: #10564F;
    }

    h2 {
        font-size: 3rem;
        color: #10564F;

    }

    h3 {
        font-size: 2rem;
    }
    /* links */
    a {
        color: #071330;
    }
    a:hover {
        color: #647C90;
        text-decoration: none;
    }
    
    footer a {
        color: #DCD2CC;
    }
    
    footer a:hover {
        color: #CCAFA5;
    }
    
    .btn {
        background: #10564F;
        color: #71A6BB;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2rem;
        display: inline-block;
        padding: 7px;
        letter-spacing: .1em;
        line-height: 1;
    }
    
    .content-wrapper {
        margin: 0 auto;
        align-items: center;
        padding: 30px;
        max-width: 1100px;
    }


    /*
        HOME
        ---------------------------------------*/
    .home {
        background: url("../images/bg-macaroons.jpg") no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
    
    .home .content-wrapper {
        flex: 1 0 auto;
        text-align: center;
    }
    
    .content-bg {
        background: rgb(255 255 255 / 0.8);
        padding: 30px;
    }

    .home header {
        color: #10564F;
    }

    .page-wrapper header {
        text-align: center;
        color: #10564F;
    }

    .category li {
        display: inline-block;
        margin: 0 10px;
    }

    .category li a {
        color: white;
        background-color: #10564F;
        padding: 3px 5px;

    }

    .category {
        list-style-type: none;
        padding: 0;
    }

    .category li:hover {
        background-color: #BEDBE4;
        color: black;
    }

    .search {
        display: block;
        padding: 30px;
    }

    .search input {
        height: 30px;
    }

    /*
    CATEGORIES
    ---------------------------------------*/

    .category-input {
        width: 60%;
        margin: auto;
        padding-bottom: 30px;
    }

    .page-wrapper {
        padding-bottom: 40px;
    }

    #myInput {
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: auto;
        width: 80%;

    }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #89BED0;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
    }

    .no-bake-wrapper button {
        padding: 10px 20px;
        margin: 30px;
        background-color: #10564F;
        color: white;
    }

    .no-bake-list {
        margin: auto;
    }

    @media screen and (max-width:718px) {
        .category {
            display: flex;
            flex-direction: column;
        }

        .category li {
            padding-bottom: 10px;
        }
    }


    /*1
       RECIPES TEMPLATE
       ---------------------------------------*/
    .recipe {
        margin: auto;
        padding-bottom: 40px;
    }

    .recipe-header {
        width: 100%;
    }

    .recipe-info li {
        display: inline-block;
        /*margin: 0 10px;*/
        color: white;
        background-color: #10564F;
        padding: 15px;
    }

    .recipe-info {
        list-style-type: none;
        text-align: center;
        padding: 20px;
    }

    .extra-notes {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .extra-notes div {
        padding: 30px;
    }

    .recipe-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1500px;
        margin: auto;
    }

    .recipe-ingredients {
        background-color: #71A6BB;
        color: white;
        width: 20%;
        height: max-content;
    }

    .recipe-ingredients div h2 {
        text-align: center;
    }

    .ingredients {
        list-style-type: circle;
    }

    .recipe-directions {
        width: 70%;
        height: auto;
        text-align: start;
    }

    .directions {
        list-style-type: decimal ;
    }

    @media screen and (min-width:1160px) and (max-width:1630px) {
        .recipe-wrapper {
            max-width: 1100px;
        }

        .recipe-ingredients {
            width: 25%;
        }

        .recipe-directions {
            padding: 10px;
        }
    }

    @media screen and (min-width:530px) and (max-width:1159px) {
        .recipe-wrapper {
            max-width: 800px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
        }

        .recipe-ingredients {
            width: 50%;
            margin: auto;

        }

        .recipe-directions {
            width: 100%;
            padding: 20px 30px;
        }

    }


    @media screen and (max-width:529px) {
        .recipe-info li {
             display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .info-list {
            margin: 10px;
        }

        .extra-notes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .extra-notes div {
            padding: 0;
        }

        .recipe-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
        }

        .recipe-ingredients {
            width: 80%;
            margin: auto;

        }

        .recipe-directions {
            width: 100%;
            padding: 20px 30px;
        }
    }

    /*
        RESUME
        ---------------------------------------*/
    .sweets header::before {
        background: url("../images/bg-pies.png") center no-repeat;
        content: "";
        display: block;
        height: 400px;
        background-size: cover;
    }
    
    .resume-section {
        margin-bottom: 50px;
    
    }
    
    .resume-section h2 {
        border-bottom: 2px dashed #647C90;
    }
    
    .download-link {
        position: fixed;
        top: 5px;
        left: 5px;
        font-size: 1.3rem;
    }
    
    @media screen and (max-width:1300px) {
        .download-link {
            position: absolute;
        }
    }
    
    @media screen and (max-width:500px) {
        .resume header::before {
            height: 200px;
        }
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 2rem;
        }
    }
    
    
    /*
        Projects
        ---------------------------------------*/
    .project-item img {
        width: 300px;
    }
    
    .project-item {
        margin: 30px 0;
    }
    
    .project-item h3 {
        margin-top: -8px;
    }
    
    @media screen and (min-width:1044px) {
        .project-item {
            display: flow-root;
            margin: 30px 0;
        }
    
        .project-item img {
            float: left;
            margin-right: 20px;
        }
    }
    
    /*@media screen and (min-width:650px) and (max-width:1043px) {*/
    /*    .project-wrapper {*/
    /*        display: grid;*/
    /*        grid-template-columns: repeat(2, 1fr);*/
    /*        column-gap: 20px;*/
    /*    }*/
    /*    .project-item img {*/
    /*        width: 100%;*/
    /*    }*/
    /*    .project-item h3 {*/
    /*        margin-top: 10px;*/
    /*    }*/
    /*}*/
    
    @media screen and (max-width:500px) {
        .project-item img {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    /*
        Work Experience
        ---------------------------------------*/
    .work-item {
        margin: 30px 0;
    }
    
    .work-details p {
        margin: 0;
    }
    
    .work-summary p:first-child {
        margin-top: 0;
    }
    
    @media screen and (min-width:860px) {
        .work-item {
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 20px;
        }
        .work-summary p:first-child {
            margin-top: 0;
        }
    }
    /*
        Education
        ---------------------------------------*/
    .education-item p {
        margin: 0;
    }
    
    .education-item {
        margin: 30px 0;
    }
    
    /*
        FOOTER
        ---------------------------------------*/
    footer {
        background: #10564F;
        color: #F4EAE6;
    }
    
    .socials li {
        display: inline-block;
        margin: 0 10px;
    }
    
    .socials img {
        width: 32px;
    }
    
    .socials {
        list-style-type: none;
        padding: 0;
    }
    
    .socials img:hover {
        opacity: 0.5;
    }
    
    .github {
        background-color: white;
    }
    
    @media screen and (min-width: 860px){
        footer {
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            justify-content: space-between;
        }
    }
    
    
    @media screen and (max-width: 859px){
        footer {
            text-align: center;
            padding: 10px;
        }
    }