<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>No Bake</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body class="category-wrapper">
    <a class="btn download-link" href="../index.html">Back to Home</a>
    <div class="page-wrapper">
        <header>
            <h1>No Bake Recipes</h1>
            <p>These recipes do not require the oven or stove to make.  This is usually recipes that take under 30 minutes to make and are good snacks.</p>
        </header>

        <main class="no-bake-wrapper">

            <button onclick="sortList()">Sort</button>



            <section class="no-bake-list">
                <div class="category-input">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for recipes.." title="Type in a name">
                </div>

                <ul id="myUL">
                    <li><a href="../recipes/homemade-caramel.html">Caramel</a></li>
                    <li><a href="../recipes/chia-seed-pudding.html">Chia Seed Pudding</a></li>
                    <li><a href="../recipes/cornflake-wreath.html">Cornflake Christmas Wreaths</a></li>

                    <li><a href="../recipes/crunch-truffles.html">Crunch Truffles</a></li>
                    <li><a href="../recipes/disneyland-churros.html">Disneyland Churros</a></li>
                    <li><a href="../recipes/trail-mix-granola-bars.html">Granola Bars</a></li>

                    <li><a href="../recipes/granola.html">Granola</a></li>
                    <li><a href="../recipes/healthy-twix-bars.html">Healthy Twix Bars</a></li>
                    <li><a href="../recipes/protein-balls.html">Protein Balls</a></li>

                    <li><a href="../recipes/matcha-latte.html">Matcha Latte</a></li>
                    <li><a href="../recipes/matcha-pb-cups.html">Matcha Peanut Butter Cups</a></li>

                    <li><a href="../recipes/matcha-ice-cream.html">Matcha Ice Cream</a></li>
                    <li><a href="../recipes/sorbet-base.html">Sorbet Base</a></li>
                    <li><a href="../recipes/poi-mochi.html">Poi Mochi</a></li>
                    <li><a href="../recipes/swedish-pancakes.html">Swedish Pancakes</a></li>
                </ul>
            </section>

        </main>
    </div>

    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        function sortList() {
            var list, i, switching, b, shouldSwitch;
            list = document.getElementById("id01");
            switching = true;
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                b = list.getElementsByTagName("LI");
                // Loop through all list items:
                for (i = 0; i < (b.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Check if the next item should
                    switch place with the current item: */
                    if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                        /* If next item is alphabetically lower than current item,
                        mark as a switch and break the loop: */
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark the switch as done: */
                    b[i].parentNode.insertBefore(b[i + 1], b[i]);
                    switching = true;
                }
            }
        }
    </script>

</body>
</html>