<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>No Bake</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

    <script>



    </script>

</head>
<body class="no-bake">
    <div class="page-wrapper">
        <header>
            <h1>No Bake Recipes</h1>
        </header>

        <main>
            <section>
                <p>These recipes do not require the oven or stove to make.  This is usually recipes that take under 30 minutes to make and are good snacks.</p>
            </section>

            <section>
                <h2>Table of Contents</h2>
                <div id="nobakeDataDisplay">

                </div>
                <script src="nobake.js"></script>
            </section>

        </main>
    </div>

</body>
</html>