<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Savory Eats</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="no-bake">
<a class="btn download-link" href="../index.html">Back to Home</a>
<div class="page-wrapper">
    <header>
        <h1>Savory Eats Recipes</h1>
        <h3>Recipes handed down from my mama who is the best cook in the world.  Feed a whole family with these recipes.</h3>
    </header>

    <main>

        <section>
            <h2>Table of Contents</h2>
            <div id="nobakeDataDisplay">

            </div>
            <script src="nobake.js"></script>
        </section>

    </main>
</div>

</body>
</html>